<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/lang.css">
    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
    <%- include('navbar') %>

    <div class="container">
        <h1>Welcome, Admin!</h1>
        <% if (users && users.length > 0) { %>
            <div class="user-management">
                <div class="user-list">
                <h2>User List</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>User Id</th>
                                <th>Username</th>
                                <th>User password</th>
                                <th>Is Admin</th>
                                <th>Creation Date</th>
                                <th>Update Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                                <tr>
                                    <td><%= user.user_Id %></td>
                                    <td><%= user.name %></td>
                                    <td><%= user.password %></td>
                                    <td><%= user.isAdmin ? 'Yes' : 'No' %></td>
                                    <td><%= formatDate(user.creationDate) %></td>
                                    <td><%= formatDate(user.updateDate) %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } else { %>
            <div class="message">No users found.</div>
        <% } %>

        <div class="user-management">
            <h2>Add New User</h2>
            <% if (typeof message !== 'undefined' && message) { %>
                <div class="message"><%= message %></div>
            <% } %>
            <form action="/admin/addUser" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <label for="editIsAdmin" style="display: inline-block;">Is Admin:</label>
                <div style="display: inline-block;">
                    <select id="editIsAdmin" name="editIsAdmin">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <br>
                <button type="submit">Add User</button>
            </form>
        </div>

        <div class="user-management">
            <h2>Edit Existing User</h2>
            <% if (typeof messageEdit !== 'undefined' && messageEdit) { %>
                <div class="message"><%= messageEdit %></div>
            <% } %>
            <form action="/admin/editUser" method="post">
                <label for="editUsername">Username:</label>
                <input type="text" id="editUsername" name="editUsername" required>

                <label for="editPassword">New Password:</label>
                <input type="password" id="editPassword" name="editPassword" required>
                
                <label for="editIsAdmin" style="display: inline-block;">Is Admin:</label>
                <div style="display: inline-block;">
                    <select id="editIsAdmin" name="editIsAdmin">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <br>
                <button type="submit">Edit User</button>
            </form>
        </div>

        <div class="user-management">
            <h2>Delete User</h2>
            <% if (typeof messageDelete !== 'undefined' && messageDelete) { %>
                <div class="message"><%= messageDelete %></div>
            <% } %>
            <form action="/admin/deleteUser" method="post">
                <label for="deleteUsername">Username:</label>
                <input type="text" id="deleteUsername" name="deleteUsername" required>
                <button type="submit">Delete User</button>
            </form>
        </div>

        <div class="user-management">
            <h2>Requests History</h2>
            <div class="buttons">
                <form action="/weather/RequestsHistory" method="get">
                    <button type="submit" name="requestType" value="weather">View Weather History</button>
                </form>
                
                <form action="/advice/RequestsHistory" method="get">
                    <button type="submit" name="requestType" value="advice">View Advice History</button>
                </form>
                
                <form action="/quotes/RequestsHistory" method="get">
                    <button type="submit" name="requestType" value="quotes">View Quotes History</button>
                </form>
            </div>
        </div>

        <br><br>
        <div class="items-list">
            <h2>All Items</h2>
            <table>
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Name (EN)</th>
                        <th>Name (RU)</th>
                        <th>Description (EN)</th>
                        <th>Description (RU)</th>
                        <th>Pictures URL</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(item => { %>
                        <tr>
                            <td><%= item.item_Id %></td>
                            <td><%= item.names.nameEN %></td>
                            <td><%= item.names.nameRU %></td>
                            <td><%= item.descriptions.descriptionEN %></td>
                            <td><%= item.descriptions.descriptionRU %></td>
                            <td>
                                <%= (item.pictures.picture1 || 'N/A') %> <br> <br>
                                <%= (item.pictures.picture2 || 'N/A') %> <br> <br>
                                <%= item.pictures.picture3 || 'N/A' %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        

        <!-- Add New Item Form -->
        <div class="item-management">
            <h2>Add New Item</h2>
            <% if (typeof messageItem !== 'undefined' && messageItem) { %>
                <div class="message"><%= messageItem %></div>
            <% } %>
            <form action="/admin/addItem" method="post">
                <label for="nameEN">Name (EN):</label>
                <input type="text" id="nameEN" name="nameEN" required>
                <label for="nameRU">Name (RU):</label>
                <input type="text" id="nameRU" name="nameRU" required>
                <label for="descriptionEN">Description (EN):</label>
                <textarea id="descriptionEN" name="descriptionEN" required></textarea>
                <label for="descriptionRU">Description (RU):</label>
                <textarea id="descriptionRU" name="descriptionRU" required></textarea>
                <label for="picture1">Picture 1 URL:</label>
                <input type="text" id="picture1" name="picture1" required>
                <label for="picture2">Picture 2 URL:</label>
                <input type="text" id="picture2" name="picture2" required>
                <label for="picture3">Picture 3 URL:</label>
                <input type="text" id="picture3" name="picture3" required>
                <button type="submit">Add Item</button>
            </form>
        </div>
        
        <div class="item-management">
            <h2>Edit Item</h2>
            <% if (typeof messageEditItem !== 'undefined' && messageEditItem) { %>
                <div class="message"><%= messageEditItem %></div>
            <% } %>
            <form action="/admin/editItem" method="post">
                <label for="editItemId">Item ID:</label>
                <input type="text" id="editItemId" name="editItemId" required>
                <label for="editItemNameEN">English Name:</label>
                <input type="text" id="editItemNameEN" name="editItemNameEN">
                <label for="editItemNameRU">Russian Name:</label>
                <input type="text" id="editItemNameRU" name="editItemNameRU">
                <label for="editItemDescEN">English Description:</label>
                <input type="text" id="editItemDescEN" name="editItemDescEN">
                <label for="editItemDescRU">Russian Description:</label>
                <input type="text" id="editItemDescRU" name="editItemDescRU">
                <label for="editPicture">Picture URL:</label>
                <select id="editPictureSelect" name="editPictureSelect">
                    <option value="editPicture1">Picture 1</option>
                    <option value="editPicture2">Picture 2</option>
                    <option value="editPicture3">Picture 3</option>
                </select>
                <input type="text" id="editPicture" name="editPicture">
                <button type="submit">Edit Item</button>
            </form>
        </div>
              
        
        
        <div class="item-management">
            <h2>Delete Item</h2>
            <% if (typeof messageDeleteItem !== 'undefined' && messageDeleteItem) { %>
                <div class="message"><%= messageDeleteItem %></div>
            <% } %>
            <form action="/admin/deleteItem" method="post">
                <label for="deleteItemId">Item ID:</label>
                <input type="text" id="deleteItemId" name="deleteItemId" required>
                <button type="submit">Delete Item</button>
            </form>
        </div>
        
    </div>
    <%- include('footer') %>
</body>
</html>