<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="css/weatherAPI.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/lang.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            padding-bottom: 100px;
            margin-bottom: 65px
        }
    </style>    
</head>
<body>
    <%- include('navbar') %>

    <form id="mapForm" action="/weather" method="post">
        <% if (lang === 'en') { %>
            <% if (typeof message !== 'undefined' && message) { %>
                <div class="message"><%= message %></div>
            <% } %>
            <label for="cityMap"><b>Enter City:</b></label>
            <input type="text" id="cityMap" name="city" placeholder="E.g., Astana" required>
            <button type="submit">Get</button>
        <% } else if (lang === 'ru') { %>
            <% if (typeof message !== 'undefined' && message) { %>
                <div class="message"><%= message %></div>
            <% } %>
            <label for="cityMap"><b>Введите город:</b></label>
            <input type="text" id="cityMap" name="city" placeholder="Например, Астана" required>
            <button type="submit">Узнать</button>
        <% } %>
    </form>
    <% if (typeof city !== 'undefined' && city){ %>
        <% if (lang === 'en') { %>
            <h1>Weather for <%= city %></h1>
            <h2>Temperature: <%= temperature %>°C</h2>
            <h2>feels like -> <%= feelsLikeTemp %></h2> 
            <h2>The weather is currently <%= description %></h2>
            <img src="<%= imageURL %>" alt="Weather Icon">
            <br>Humidity is <%=humidity%>
            <br>Pressure is <%=pressure%>
            <br>Wind speed is <%=windSpeed%>
            <br>Country code is <%=countryCode%></h2>
            <h1>Map for <%= city %></h1>
            <h2>Coordinates:</h2>
            <ul>
                <li>Latitude: <%= lat %></li>
                <li>Longitude: <%= lon %></li>
            </ul>
        <% } else if (lang === 'ru') { %>
            <h1>Погода для <%= city %></h1>
            <h2>Температура: <%= temperature %>°C</h2>
            <h2>Ощущается как -> <%= feelsLikeTemp %></h2> 
            <h2>Погода сейчас <%= description %></h2>
            <img src="<%= imageURL %>" alt="Weather Icon">
            <br>Влажность <%=humidity%>
            <br>Давление <%=pressure%>
            <br>Скорость ветра <%=windSpeed%>
            <br>Код страны <%=countryCode%></h2>
            <h1>Карта для <%= city %></h1>
            <h2>Координаты:</h2>
            <ul>
                <li>Широта: <%= lat %></li>
                <li>Долгота: <%= lon %></li>
            </ul>
        <% } %>

        <div id="map"></div>
    <% } %>


    <%- include('footer') %>
    <% if (typeof lat !== 'undefined' && lat){ %>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([<%= lat %>, <%= lon %>], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        L.marker([<%= lat %>, <%= lon %>]).addTo(map)
            .bindPopup('<b><%= city %></b><br>Temperature: <%= temperature %>°C<br><%= description %><br><img src="<%= imageURL %>" width="50" height="50">')
            .openPopup();
    </script>
    <% } %>
    <script>
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>